<div class="container">
    <div *ngIf="listOfTask.length == 0">
        <p style="text-align: center; justify-content: center;">
            No task to do yet!
        </p>
    </div>
    <div *ngIf="listOfTask.length != 0">
        <table>
            <tr>
                <th>Complete</th>
                <th>Repeat</th>
                <th>Task Name</th>
                <th>Task description</th>
            </tr>
            <tr *ngFor="let task of listOfTask ; let i = index">
                <td><input type="checkbox" (change)="addTodoneList($event , i)" value="done"></td>
                <td> {{task?.repeat}} </td>
                <td> {{task?.task_name}} </td>
                <td> {{task?.task_description}} </td>
            </tr>
        </table>
    </div>
    <br>
    <div *ngIf="doneTask.length != 0">
        <p style="text-align: center; justify-content: center; color: red;">
            Completed task list
        </p>
        <app-done-list [doneList]="doneTask" (notDone)="notDone($event)"></app-done-list>

    </div>
</div>