<form [formGroup]="form" >
    <div class="container">
        <div class="form-group">
            <p>Name</p>
            <input (keyup)="addvalueToList(form.value)" class="form-control" formControlName="task_name" type="text" placeholder="Enter name of the task">
        </div>

        <br>
        <div class="form-group">
            <p>Description</p>
            <textarea (keyup)="addvalueToList(form.value)" class="form-control" formControlName="task_description" type="text"
                placeholder="Enter description"></textarea>
        </div>

       <div  class="dropdown show">
            <a  class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Want to repeat?
            </a>

            <div  class="dropdown-menu" aria-labelledby="dropdownMenuLink">

                <div class="radio">
                    <label><input (change)="addvalueToList(form.value)" formControlName="repeat" type="radio" name="repeat" value="yes" /> &nbsp; Yes</label>
                </div>

                <div class="radio">
                    <label> <input (change)="addvalueToList(form.value)" formControlName="repeat" type="radio" name="repeat" value="no" /> &nbsp;  no</label>
                </div>

            </div>
        </div>


    </div>
</form>
<br> <br>
<div>
    <p style="text-align: center; justify-content: center; color: red;">
        List of tasks.
    </p>
    <app-to-do-list-component [listOfTask]="tasks"></app-to-do-list-component>

</div>